.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.big-circle {
  width: 8rem;
  height: 8rem;
  border: 5px solid $brown;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-color: $brown transparent $brown $brown;
  animation: bigcircle 1.2s linear infinite;
}

.small-circle {
  position: relative;
  width: 5rem;
  height: 5rem;
  border: 5px solid $brown;
  border-radius: 50%;
  border-color: $brown $brown transparent $brown;
}

@keyframes bigcircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
